*/build
*/CMakeFiles
*/CMakeCache.txt
*/cmake_install.cmake
*/Dockerfile
*/Makefile
*/Makefile.in

# Ignorar pastas de dependências e binários
*/editor
*/bin
*/lib
*/lib64
*/out
*/install

# Ignorar arquivos específicos do sistema operacional
*~              # Arquivos temporários
*.log           # Arquivos de log
*.bak           # Arquivos de backup

# Ignorar arquivos gerados por ferramentas de construção
*.a             # Arquivos de bibliotecas estáticas
*.o             # Arquivos de objetos compilados
*.so            # Bibliotecas compartilhadas
*.d             # Arquivos de dependências gerados 


*.gamestate
*.internal
*.make
*.txt
out/.ninja_log
out/.ninja_deps
/out
*/assets/*
!commons/assets/
!commons/assets/shaders/
!commons/assets/shaders/*.vert
!commons/assets/shaders/*.frag
!commons/assets/models/
!commons/assets/models/*.obj
editor/include/assets/runtime_embutido.hpp
